  /* Laden von Bulma's base styles und themes (inklusive minireset)*/
  @use "bulma/sass/base";
  @use "bulma/sass/themes";
  
  /* Laden der Buttons und Titelelemente und Komponente*/
  @use "bulma/sass/elements/button";
  @use "bulma/sass/elements/title";
  @use "bulma/sass/components/message";

  /*die Klasse hidden bekannt machen, da diese in Bulma nicht integriert ist*/
  .hidden {
    display: none;
  }

 html, body {
    background-color: #f2f9fa;
    height: 100%;
    margin: 0;
    padding: 0;
  } 

  
.header {
  position: relative;
  background-color: #63d1d1;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
.header-list li {
  display: inline;
  margin: 0 10px;
}

.text-color-header a {
  color: #1c444f;
}

.suche-container{
  list-style-type: none;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.header-image {
  max-width: 150px;
  height: auto;
}

.image.is-rounded {
  border-radius: 20%;
}





.footer {
    background-color: #1c444f;
    padding: 2rem 1.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

.footer ul {
  list-style-type: none;
  padding: 0;
  }

  .text-color-footer a {
    color: #63d1d1;
  }

/*<button class="button is-info">Button</button>*/
  
 

  /* Media Queries für verschiedene Bildschirmgrößen */
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
    .header-image {
      max-width: 60%;
    }
  }
  
  @media (max-width: 480px) {
    body {
      font-size: 12px;
    }
    .header-image {
      max-width: 20%;
    }
  }